body {
    background: #DFC2F2;
    background-image: linear-gradient(to right, #ffffb3, #ffe6e6);
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#card {
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 700px;
    display: flex;
    justify-content: center;
}

/* Detalls del producte */
.product-details {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    width: 55%;
}

.product-details h1 {
    font-family: Arial, cursive;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #344055;
    margin: 0;
}


/* Estrelles */
.product-details .hint-star {
    display: inline-block;
    margin-left: 0.5em;
    color: gold;
    width: 50%;
}

.product-details .information {
    font-family: Arial, serif;
    text-align: center;
    font-size: 18px;
    color: #7d7d7d;

}

 /* botó */
.product-details .btn {
    margin-top:40px;
    transition: 0.3s linear;
    background: #809fff;
    border-radius: 5px;
    padding: 10px;
   
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
}


/* Caixa de la imatge del producte */
.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 45%;
}

.product-image img {
    width: 100%;
    height: 100%;
}

/* Informació del producte al passar per damunt */
.info-detail {
    background: rgba(27, 26, 26, 0.9);
    font-family: Arial, serif;
    line-height: 1.8rem;
    text-align: left;
    font-size: 105%;
    color: #FFF;
    /* Animació */
    transition: all 0.3s ease-out;

    position: absolute;
    left: 0;
    top: 0;

    /* Oculta la informació inicialment */
    transform: translateX(-100%); 

    height: 100%;
    width: 100%;

}

.info-detail h2 {
    text-align: center
}

/* Animació. Apareix la informació del producte */
.product-image:hover .info-detail {
    transform: translateX(0);
}

.info-detail ul li {
    transition: 0.3s ease;
}

.info-detail ul li:hover {
    transform: translateX(50px) scale(1.3);
}

/* Animació. Apareix la informació del producte */
.product-image:hover img {
    transition: all 0.3s ease-out;
}

.product-image:hover img {
    transform: scale(1.2, 1.2);
}